.page-card a {
  text-decoration: none;
  font-size: 35px;
  color: yellow;
}

#root {
  background-color: #109BE9;
  height: 100vh;
}

.page-card h2 {
  color: var(--light-base-color-white, #FFF);
  font-family: "Mulish";
  font-size: 62px;
  font-style: normal;
  padding-top: 50px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.186px;
}

.page-card p {
  color: var(--light-base-color-white, #FFF);
  font-family: "Mulish";
  font-size: 20px;
  padding-top: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.186px;
}